
body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    padding: 50px;
    margin: 0;
}


.container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    text-align: center;
}


.container h2 {
    font-family: 'Pacifico', cursive;
    color: #333;
    margin-bottom: 10px;
}


.container p {
    color: #555;
    margin-bottom: 30px;
}


.form-input {
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}


.ny-cta-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.ny-cta-button:hover {
    background-color: #45a049;
}


.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #e7f3fe;
    border-left: 5px solid #2196F3;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    text-align: center;
}

